.parent{
  margin: auto;
    width: 500px;
    text-align: center;
    padding-top: 215px;
}
span{
  font-size:3rem;
  color: #fff;
}
h4{
  color: #ef6214;
    font-size: 4rem;
    font-weight: bold;
}
.btn-In{
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 15px;
  background-color: #ef6214;
  color: #fff;
  border: none;
  margin: 20px;
  font-size:2rem;
}
/* donot work!! */
.btn-In:hover{
  background-color: #fff;
  color: #000;
}
.btn-Up{
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  border: 0.5px solid #ef6214;
  margin: 20px;
font-size:2rem;
transition: 0.5s all;
}
.btn-Up:hover{
  background-color: #fff;
  color: #000;
  border: none;
}